@viewport{zoom:1.0;width:device-width;}
@-ms-viewport { width: device-width; }
body { -ms-overflow-x:hidden; overflow-X:hidden; }
.bodyoverflow { width:100%; -ms-overflow-x:hidden; overflow-X:hidden; }
@media only screen and (min-width: 1200px) { html { font-size: 14px; } }
@media only screen and (min-width: 992px) { html { font-size: 13px; } }
@media only screen and (min-width: 0) { html { font-size: 12px; } }
.navbar-fixed { height: 50px; }
nav { color: #fff; width: 100%; height: 56px; line-height: 56px; }
nav ul a { font-size: 1.4em; letter-spacing: 1.5px; }
nav a.button-collapse, nav a.button-collapse i { height: 50px; line-height: 50px; }
nav .hide-on-med-and-down a { text-align: center; }
nav .hide-on-med-and-down .active a, nav .hide-on-med-and-down a:hover { -webkit-transition: 0.4s; -moz-transition: 0.4s; -o-transition: 0.4s; -ms-transition: 0.4s; transition: 0.4s; }
nav .hide-on-med-and-down .current_page_item a { border-bottom:3px solid white; }
h1 {font-size: 3.3em;}
h2 {font-size: 3em;}
h3 {font-size: 2.4em;}
h4 {font-size: 1.8em;}
h5 {font-size: 1.5em;}
p {font-size: 1.3em; }
.row { margin-left: auto; margin-right: auto; }
.displayinitial { display: initial !important; }
.fondorojot { background-color: rgba(64,12,13,0.8); }
.letraroja { color: #ac0606; }
.letranegra {color: #212121;}
.font16{font-size: 1.6em;}
.font19{font-size: 1.9em;}
.rayado { border-bottom: 2px solid #ac0606; display: inline-block; }
.height100 { height: 100%; }
.width75p { width: 75%; }
.marginauto{ margin: auto; }
.letrabanner { font-size: 1.5em; font-family: 'Source Sans Pro', sans-serif; }
.border1px { border: 1px solid rgba(0,0,0,0.3); }
.padding20 { padding: 20px; }
.margin5 { margin: 5px; }
.margintop100 { margin-top: 100px }
.margintop75 { margin-top: 75px }
.margintop50 { margin-top: 50px }
.margintop25 { margin-top: 25px }
.margintop10 { margin-top: 10px }
.margintop5 { margin-top: 5px }
.marginbot0 { margin-bottom: 0px; }
.marginbot10 { margin-bottom: 10px; }
.marginbot25 { margin-bottom: 25px; }
.margintopmenos50 { margin-top:-50px !important; }
.margintopmenos40 { margin-top:-40px !important; }
.margintopmenos25 { margin-top:-25px !important; }
.marginright25 { margin-right: 25px }
.marginleft25 { margin-left: 25px }
.paddingtop75{ padding-top: 75px; }
.paddingtop50{ padding-top: 50px; }
.paddingtop25{ padding-top: 25px; }
.paddingtop10{ padding-top: 10px; }
.paddingtop1{ padding-top: 1px; }
.paddingbot75{ padding-bottom: 75px; }
.paddingbot50{	padding-bottom: 50px; }
.paddingbot25{	padding-bottom: 25px; }
.paddingbot10{	padding-bottom: 10px; }
.paddingbot0{	padding-bottom: 0px; }
.paddingleft15 { padding-left: 15px !important; }
.paddingright15 { padding-right: 15px !important; }
.padding0 {padding: 0px;}
.maxwidth100 { max-width: 100px !important; }
.footer { position:relative; z-index:100; min-height:40px; width:100%;}
.copyright {padding: 0px 0px 0px 0px;font-size:1.1em;color:white;letter-spacing:2px; text-align: center;}
.noshadow { box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12); }
.current-menu-item, .current-menu-ancestor { background-color: #e0e0e0; }
.sishadow { box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
.translate50 {-ms-transform: translate(0px,-50px); -webkit-transform: translate(0px,-50px); transform: translate(0px,-50px);}
.translate25 {-ms-transform: translate(0px,-25px); -webkit-transform: translate(0px,-25px); transform: translate(0px,-25px);}
.translate15 {-ms-transform: translate(0px,-15px); -webkit-transform: translate(0px,-15px); transform: translate(0px,-15px);}
.side-nav .heightauto { height: auto; }
.height0 {height: 0px;}
.brand-logo { margin-left: 25px; }
.dropdown-content li>a, .dropdown-content li>span { font-size: 16px; color: #3f51b5 ; line-height: 22px; padding: 14px 16px; }
.avatarlogged img {border-radius: 50%; box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); }
.avatarsidemenu img {border-radius: 50%; }
.dropdown-content li>a, .dropdown-content li>span { padding: 0 30px; line-height: 64px; }
.side-nav i { font-size: 2em; line-height: 64px;}
header, main, footer { padding-left: 250px; }

@media only screen and (max-width : 992px) {
  header, main, footer { padding-left: 0; }
  nav {position: fixed;}
  main {padding-top: 64px;}
}

@media (max-width:1080px){
}
@media (max-width:768px){
.brand-logo { margin-left: 0px; }
}
@media (max-width:520px){
}